[user]
	name = Dmitry Sadovnychyi
	email = git@dmit.ro
[color]
	ui = 1
[push]
	default = simple
[core]
	editor = nano
[help]
	autocorrect = 1
[filter "hawser"]
	clean = git hawser clean %f
	smudge = git hawser smudge %f
	required = true
[url "ssh://git@github.com/"]
	insteadOf = https://github.com/
[alias]
	status = status -sb
	log = log --all --graph --pretty=format:'%Cred%h%Creset -%C(auto)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
[filter "lfs"]
	clean = git lfs clean %f
	smudge = git lfs smudge %f
	required = true
[credential]
	helper = osxkeychain
