[user]
	name = Dmytro Sadovnychyi
	email = git@dmit.ro
	signingkey = 59F3FE6BDE45B45A
[color]
	ui = true
[push]
	default = simple
[core]
	editor = micro
	pager = diff-so-fancy | less --tabs=4 -RFX
[help]
	autocorrect = 1
[filter "hawser"]
	clean = git hawser clean %f
	smudge = git hawser smudge %f
	required = true
#[url "ssh://git@github.com/"]
#	insteadOf = https://github.com/
[alias]
	status = status -sb
	log = log --all --graph --pretty=format:'%Cred%h%Creset -%C(auto)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
	selectbranch = !git for-each-ref --format='%(refname:short)' refs/heads | fzf | xargs git checkout
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[credential]
	helper = osxkeychain
[fetch]
	prune = true
[commit]
	gpgsign = true
[pager]
	diff = false
[branch]
	autosetuprebase = always
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "diff"]
	meta = 11
	frag = magenta bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse
[gpg]
	program = /usr/local/bin/gpg
