[user]
	name = Dmitry Sadovnychyi
	email = git@dmit.ro
[color]
	ui = 1
[push]
	default = simple
[core]
	editor = atom --wait
[help]
	autocorrect = 1
[filter "hawser"]
	clean = git hawser clean %f
	smudge = git hawser smudge %f
	required = true
