[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = git@github.com:robbyrussell/oh-my-zsh.git
[submodule "powerlevel10k"]
	path = powerlevel10k
	url = git@github.com:romkatv/powerlevel10k.git
[submodule "zsh-autosuggestions"]
	path = zsh-autosuggestions
	url = git@github.com:zsh-users/zsh-autosuggestions.git
[submodule "zsh-prompt-benchmark"]
	path = zsh-prompt-benchmark
	url = git@github.com:romkatv/zsh-prompt-benchmark.git
[submodule "enhancd"]
	path = enhancd
	url = git@github.com:b4b4r07/enhancd.git
[submodule "wakatime-zsh-plugin"]
	path = wakatime-zsh-plugin
	url = git@github.com:sobolevn/wakatime-zsh-plugin.git
[submodule "fast-syntax-highlighting"]
	path = fast-syntax-highlighting
	url = git@github.com:zdharma-continuum/fast-syntax-highlighting.git
