"*":
  "atom-beautify":
    analytics: false
    css_newline_between_rules: true
    html_end_with_newline: true
    js_end_with_newline: true
    muteAllErrors: true
    muteUnsupportedLanguageErrors: true
  "atom-ctags":
    autoBuildTagsWhenActive: true
    buildTimeout: 20000
  "autocomplete-plus":
    backspaceTriggersAutocomplete: true
    confirmCompletion: "tab"
    enableBuiltinProvider: false
    includeCompletionsFromAllBuffers: false
    minimumWordLength: 0
  "autocomplete-python":
    extraPaths: "/usr/local/google_appengine;/usr/local/google_appengine/lib/webapp2-2.5.2;"
    outputDebug: true
    outputProviderErrors: true
    useSnippets: "required"
  autosave: {}
  "cloud-debugger":
    debuggeeId: "gcp:948740859141:3ac5ff71bb3b033a"
  "color-picker":
    abbreviateValues: true
    automaticReplace: true
  core:
    disabledPackages: [
      "language-python"
      "linter-scss-lint"
    ]
    followSymlinks: true
    ignoredNames: [
      ".git"
      ".svn"
      ".DS_Store"
      ".pyc"
    ]
    projectHome: "~"
    themes: [
      "one-dark-ui"
      "Chromodynamics"
    ]
  editor:
    autoIndentOnPaste: false
    backUpBeforeSaving: true
    fontSize: 12
    invisibles:
      cr: " "
      eol: " "
    scrollPastEnd: true
    showInvisibles: true
    useShadowDOM: true
  "exception-reporting":
    userId: "dc2e19ca-6857-7757-3c3c-f76a9fd54a2d"
  "file-icons": {}
  "fuzzy-finder": {}
  "git-diff": {}
  "go-oracle":
    goPath: "~/go"
  "go-plus":
    environmentOverridesConfiguration: false
    formatTool: "gofmt"
    goInstallation: "/usr/local/bin/go"
    goPath: "~/go"
  "grammar-selector": {}
  "highlight-line":
    hideHighlightOnSelect: true
  "highlight-selected":
    onlyHighlightWholeWords: true
  linter:
    showErrorPanel: false
    showErrorTabFile: false
    showErrorTabProject: false
    underlineIssues: false
  "linter-coffeelint": {}
  "linter-flake8":
    executablePath: "/usr/local/bin/flake8"
    ignoreErrorCodes: [
      "E111"
      "E114"
      "E121"
      "E402"
      "E501"
      "E711"
      "E712"
      "E731"
    ]
    maxComplexity: 15
  "linter-golinter":
    executablePath: "/Users/sadovnychyi/go/bin/golint"
  "linter-jshint": {}
  metrics:
    userId: "60b89a6037297e5bcf6d40e23e36a449cc080afa"
  minimap:
    plugins:
      bookmarks: true
      "find-and-replace": true
      selection: true
  notifications: {}
  "one-dark-ui": {}
  pigments:
    markerType: "dot"
  "project-manager": {}
  "release-notes":
    viewedVersion: "0.95.0"
  "spell-check": {}
  swackets: {}
  tabs:
    enableVcsColoring: true
  term2:
    colors: {}
  "tree-view":
    hideIgnoredNames: true
  welcome:
    showOnStartup: false
  whitespace:
    ignoreWhitespaceOnCurrentLine: false
".python.regexp.source":
  editor:
    autoIndentOnPaste: true
".python.source":
  editor:
    autoIndentOnPaste: true
    tabLength: 2
