"*":
  "exception-reporting":
    userId: "dc2e19ca-6857-7757-3c3c-f76a9fd54a2d"
  metrics:
    userId: "60b89a6037297e5bcf6d40e23e36a449cc080afa"
  "release-notes":
    viewedVersion: "0.95.0"
  welcome:
    showOnStartup: false
  editor:
    showInvisibles: true
    scrollPastEnd: true
    useShadowDOM: true
    invisibles:
      eol: " "
      cr: " "
    fontSize: 12
  core:
    ignoredNames: [
      ".git"
      ".svn"
      ".DS_Store"
      ".pyc"
    ]
    projectHome: "~"
    followSymlinks: true
    themes: [
      "one-dark-ui"
      "monokai"
    ]
  linter:
    showErrorInline: false
    showInfoMessages: true
    showHighlighting: false
    statusBar: "Show error of the selected line"
    ignoredLinterErrors: [
      "scss-lint"
    ]
  "autocomplete-plus":
    defaultProvider: "Symbol"
  "linter-flake8":
    executableDir: "/usr/local/bin/"
    ignoreErrorCodes: [
      "E111"
      "E114"
      "E121"
      "E501"
      "E711"
      "E712"
    ]
    maxComplexity: 15
  "linter-jshint": {}
  "project-manager": {}
  "tree-view":
    hideVcsIgnoredFiles: true
  autosave: {}
  "file-icons": {}
  "grammar-selector": {}
  "git-diff": {}
  "fuzzy-finder": {}
  notifications: {}
  whitespace:
    ignoreWhitespaceOnCurrentLine: false
  "atom-beautify":
    analytics: false
    css_newline_between_rules: true
    html_end_with_newline: true
    js_end_with_newline: true
    muteAllErrors: true
    muteUnsupportedLanguageErrors: true
  "highlight-line":
    hideHighlightOnSelect: true
  tabs: {}
  "spell-check": {}
  "linter-coffeelint": {}
  "atom-ctags":
    autoBuildTagsWhenActive: true
    buildTimeout: 20000
  "autocomplete-python":
    extraPaths: "$PROJECT/env/lib/python2.7/site-packages;/usr/local/google_appengine;/usr/local/google_appengine/lib/webapp2-2.5.2"
".python.source":
  editor:
    tabLength: 2
