atom-text-editor::shadow .line-number .icon-right {
  opacity: 1;
}

atom-text-editor::shadow .entity.name.class {
  text-decoration: none;
}

atom-text-editor::shadow .entity.other.inherited-class {
  text-decoration: none;
}

atom-text-editor::shadow .gutter .cursor-line, :host .gutter .cursor-line {
  background-color: rgb(40, 40, 40);
}

atom-text-editor::shadow .gutter .cursor-line, :host .gutter .cursor-line {
  opacity: 0.6;
}

atom-text-editor::shadow .gutter .line-numbers {
  background-color: rgb(40, 40, 40) !important;
}
