// atom-text-editor.editor .bookmarked {
//   background-color: rgba(27, 136, 231, 0.3) !important;
//   opacity: 1 !important;
// }

// atom-text-editor.editor .gutter .cursor-line {
//   opacity: 0.6;
// }

atom-text-editor .invisible-character {
  color: rgba(59, 58, 50, .5);
}

atom-text-editor.editor .gutter {
  background-color: black !important;
}

// atom-text-editor.editor .gutter .line-number {
//   background-color: black !important;
// }

// atom-text-editor.editor .gutter .line-number .icon-right {
//   padding: 0 .3em;
// }

atom-text-editor.editor .bracket-matcher .region {
  border-bottom: none;
  background-color: rgba(99,99,99,.8);
}

.tab-bar .tab .title {
  text-align: left;
}

.editor {
  background-color: black;
}

// atom-panel-container.header {
//   // padding-top: 0;
// }
//
// atom-workspace atom-panel-container.left:empty {
//   // padding-left: 0;
// }

// atom-workspace atom-pane-container.panes {
//   padding-top: 0;
// }

// .tree-view .project-root.project-root:first-child {
//   padding-top: 0;
// }

// .tree-view::before {
//   margin-top: 0;
// }

atom-text-editor[data-grammar="source python"], :host {
  .autocomplete-suggestion-list.select-list.popover-list .suggestion-description {
    max-height: 30em;
    overflow: auto;
  }
}

// atom-panel-container.header {
//   display: none;
// }

// body > atom-workspace > atom-workspace-axis > atom-workspace-axis > atom-panel-container.bottom > atom-panel:nth-child(1) > div {
//   display: none !important;
// }
